// Vengono messe le variabili, che possono essere divise per tipologia

//colors
$primaryColor: #1E2D3B;
$secondColor: #2E3A46;

//Typo
$fontFamily:'Roboto', sans-serif;
$fontSizeBase: 18px;

//size
$logoImg: 50px;
$sizeImg: 200px;
$headerHeight: 85px;
